{% extends 'base.html' %}
{% load static %}

{% block banner %}
    <div class="cristal"></div>
{% endblock %}

{% block spaceApp %}
    <div class="col-2 inputsSpace">

        <!-- Aqui estan los inputs -->
        <label for="a">
            a: <input type="number" class="inputVar" id="a">
        </label>
        <label for="b">
            b: <input type="number" class="inputVar" id="b">
        </label>
        <label for="c">
            c: <input type="number" class="inputVar" id="c">
        </label>
        <label for="d">
            d: <input type="number" class="inputVar" id="d">
        </label>
        <label for="e">
            e: <input type="number" class="inputVar" id="e">
        </label>
        <label for="f">
            f: <input type="number" class="inputVar" id="f">
        </label>
        <label for="g">
            g: <input type="number" class="inputVar" id="g">
        </label>
        <label for="h">
            h: <input type="number" class="inputVar" id="h">
        </label>

    </div>
    <div class="col-6 resultsSpace">

    </div>
{% endblock %}