.navColorText a
{
    color: white;
    font-size: 18px;
}

.banner
{
    width: 100vw;
    height: 22vh;
    background-image: url("../img/1145374.jpg");
    background-position: center;
}
.cristal
{
    background: rgba(115, 115, 115, 0.38);
    backdrop-filter: blur(1px);
}