.navColorText a
{
    color: white;
    font-size: 18px;
}

.banner
{
    width: 100vw;
    height: 22vh;
    background-image: url("../img/1145374.jpg");
    background-position: center;
}
.cristal
{
    background: rgba(115, 115, 115, 0.38);
    backdrop-filter: blur(1px);
}

.inputsSpace
{   margin-top: 125px;
    margin-left: auto;
    margin-right:5% ;
    height: 55vh;
    background: #e5c7ca;
}
.resultsSpace
{
     margin-top: 125px;
    margin-left: 5%;
    margin-right:auto ;
    height: 55vh;
    background: #e5c7ca;
}
.inputVar
{
    margin-top: 10px;
}